<!doctype html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.4/cropper.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
    <!-- <link rel="stylesheet" href="style.css"> -->
</head>

<style>
    .page {
        margin: 1em auto;
        max-width: 768px;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        height: 100%;
    }

    .box {
        padding: 0.5em;
        width: 100%;
        margin: 0.5em;
    }

    .box-2 {
        padding: 0.5em;
        width: calc(100% / 2 - 1em);
    }

    .options label,
    .options input {
        width: 4em;
        padding: 0.5em 1em;
    }

    .btn {
        background: white;
        color: black;
        border: 1px solid black;
        padding: 0.5em 1em;
        text-decoration: none;
        margin: 0.8em 0.3em;
        display: inline-block;
        cursor: pointer;
    }

    .hide {
        display: none;
    }

    img {
        max-width: 100%;
    }
</style>

<body>
    <div class="container page">
        <h1 class="text-center">Iris Flower Classification with CNN</h1>
        <div class="form-group container">
            <label for="file">Upload Image File:</label>
            <input class="form-control box" accept="image/*" name="imagefile" type="file" required id="file-input" />
        </div>
        <div class="box-2">
            <h2 class="describe hide">Please crop <i>iris flower</i> properly for better prediction</h2>
            <div class="result"></div>
        </div>
        <!--rightbox-->
        <div class="box-2 img-result hide">
            <!-- result of crop -->
            <img id="cropped" class="cropped" src="" alt="" />
            <h2>Prediction : </h2>
            <i>
                <div id="prediction" class="prediction"></div>
            </i>
        </div>
        <!-- input file -->
        <div class="box">
            <div class="options hide">
                <label>Width</label>
                <input type="number" class="img-w" value="300" min="100" max="1200" />
            </div>
            <!-- save btn -->
            <button type="submit" class="btn save hide">Save & Predict</button>
            <!-- download btn -->
            <!-- <button class="btn download hide">Download</button> -->
        </div>
        <!-- </form> -->
    </div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/0.8.1/cropper.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
<!-- <script type="text/javascript" src="script.js"></script> -->
<script>
    let result = document.querySelector(".result"),
        img_result = document.querySelector(".img-result"),
        img_w = document.querySelector(".img-w"),
        img_h = document.querySelector(".img-h"),
        options = document.querySelector(".options"),
        save = document.querySelector(".save"),
        cropped = document.querySelector(".cropped"),
        dwn = document.querySelector(".download"),
        upload = document.querySelector("#file-input"),
        cropper = "",
        describe = document.querySelector(".describe"),
        predict = document.querySelector('#prediction');

    // on change show image with crop options
    upload.addEventListener("change", (e) => {
        if (e.target.files.length) {
            // start file reader
            const reader = new FileReader();
            reader.onload = (e) => {
                if (e.target.result) {
                    // create new image
                    let img = document.createElement("img");
                    img.id = "image";
                    img.src = e.target.result;
                    // clean result before
                    result.innerHTML = "";
                    // append new image
                    result.appendChild(img);

                    // show save btn and options
                    describe.classList.remove("hide");
                    save.classList.remove("hide");
                    options.classList.remove("hide");
                    // init cropper
                    cropper = new Cropper(img);
                }
            };
            reader.readAsDataURL(e.target.files[0]);
        }
    });

    // save on click
    save.addEventListener("click", (e) => {
        e.preventDefault();

        let imgSrc = cropper.getCroppedCanvas({
            width: img_w.value
        }).toDataURL()

        // get file path
        let filePath = $('#file-input').val()

        cropped.classList.remove("hide");
        img_result.classList.remove("hide");

        cropper.getCroppedCanvas().toBlob((blob) => {
            // create virtual form
            var formData = new FormData();
            // Attach file
            formData.append('size', 'auto')
            formData.append('image_file', blob, filePath);

            // console.log(filePath)

            /**
             *  this code using fetch
             */
            // fetch('https://api.remove.bg/v1.0/removebg', {
            //     method: 'POST',
            //     body: formData,
            //     headers: {
            //         'X-Api-Key': 'tWSh4VY1eUSzKNHEcsVtSaCs',
            //     }
            // })
            //     .then(response => {
            //         // console.log('Success:', result);
            //         response.blob().then(blobResponse => {
            //             // data = blobResponse;
            //             const urlCreator = window.URL || window.webkitURL;
            //             document.getElementById('cropped').src = urlCreator.createObjectURL(blobResponse);
            //         })
            //     })
            //     .catch(error => {
            //         console.error('Error:', error);
            //     });

            /**
             *  this code using ajax
             */
            $.ajax({
                method: 'POST',
                url: 'https://api.remove.bg/v1.0/removebg',
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                headers: {
                    'X-Api-Key': 'tWSh4VY1eUSzKNHEcsVtSaCs',
                },
                xhrFields: {
                    responseType: 'blob'
                },
                success: function (msg) {
                    // show save btn and options
                    save.classList.remove("hide");
                    options.classList.remove("hide");

                    var url = window.URL || window.webkitURL;
                    cropped.src = url.createObjectURL(msg);

                    var formData = new FormData();
                    // Attach file
                    formData.append('imagefile', msg);
                    $.ajax('/predict', {
                        method: 'POST',
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function (data) {
                            // console.log(data)
                            predict.innerHTML = data.prediction
                        },
                    })
                },
            });
        })

    });

    function hexToBase64(str) {
        return btoa(String.fromCharCode.apply(null, str.replace(/\r|\n/g, "").replace(/([\da-fA-F]{2}) ?/g, "0x$1 ").replace(/ +$/, "").split(" ")));
    }
</script>

</html>